.footer-parent {
    background-color: $footer-color;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid $primary-color;

    p {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}