.navbar-parent {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $header-color;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.logo-container {
    font-size: 22px;
    user-select: none;

    a {
        color: $secondary-color;
        text-decoration: none;

        span {
            font-weight: bold;
    
            b {
                color: $primary-color;
                font-size: 69px;
                font-weight: 400;
                line-height: 0px;
                position: absolute;
                transform: translateY(-3px);
                display: inline-block;
            }
        }
    }
}

.nav-container {
    nav {
        display: flex;
        gap: 50px;
        
        a {
            color: $white;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 2px;
            text-decoration: none;
            transition: color .15s ease-in-out;

            &:hover {
                color: $primary-light;
            }
        }
    }
}

.login-status-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    .login-status-text {
        a {
            color: $white;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            text-decoration: none;
            transition: color .15s ease-in-out;

            &:hover {
                color: $primary-light;
            }
        }
    }

    img {
        margin-left: 20px;
    }
}