.login-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 270px;

    h1 {
        color: $dark-text-color;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 0px;
    }
}