.event-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
    max-height: 43vh;
    overflow-x: scroll;
    overflow-x: hidden;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;

    .event {
        padding: 8px;
        border-radius: 0px 10px 10px 0px;
        border-left: 2px solid $primary-color;
        background: rgba(108, 59, 170, 0.10);
        box-shadow: $box-shadow;
        transition: box-shadow .15s ease-in-out;
        cursor: pointer;

        .event-title {
            color: $dark-text-color;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            display: inline-block;
        }

        .event-description {
            color: $text-color;
            display: inline-block;
            margin-bottom: 0;
        }

        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            ;
        }
    }
}

.event-navigation {
    margin-top: 30px;
    position: relative;

    button {
        &:last-child {
            right: 0;
            position: absolute;
        }
    }
}