$primary-color: #6C3BAA;
$primary-50: rgba(108, 59, 170, 0.5);
$primary-light: #BBA1DE;
$secondary-color: #FFD700;
$secondary-light: #FFEC80;

$text-color: #383A43;
$text-color-50: rgba(56, 58, 67, 0.5);
$dark-text-color: #191B20;

$header-color: #191B20;
$footer-color: #191B20;

$white: #FFF;
$bg-color: #EEEEEE;

$good-green: #CCFFE0;
$bad-red: #FFCCCC;

$delete-red: rgba(255, 0, 0, 0.75);
$delete-red-hover: rgba(255, 0, 0, 0.5);

$corner-radius: 10px;
$box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
$box-shadow-soft: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);