$primary-color: #6C3BAA;
$primary-50: rgba(108, 59, 170, 0.5);
$primary-light: #BBA1DE;
$secondary-color: #FFD700;
$secondary-light: #FFEC80;

$text-color: #383A43;
$text-color-50: rgba(56, 58, 67, 0.5);

$header-color: #191B20;
$footer-color: #191B20;

$white: #fff;

$good-green: #CCFFE0;
$bad-red: #FFCCCC;

$corner-radius: 10px;
